<!--Fyaaz Bobat - 301071094 - 10-09-2020 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!--Main Content -->

<main class="container-fluid">
<div class="row justify-content-md-center">
  <div class="col-6">
    <h2 class="h1"> <%= message %> </h2>
    <hr class="my-4"> 
  </div>
 </div>

  <div class="jumbotron">
  <div class="row justify-content-md-center">
  <h2> <u> Hear are some service i can provide: </u></h2>
  </div>
  <br>
  <br>

  <h4 class="display-6"> Website Devlopment!</h4>

	<p class="lead"> I can develop a website tailored to your needs. I have taken multiple web development courses and can make sites like this one. </p>
	<br>
	  <h4 class="display-6"> Data! </h4>
	  	<p class="lead"> With the few courses I've taken on data I have knowledge on Oracle sql, NoSql and MongoDB. </p>
<br>
	  <h4 class="display-6"> General Programming! </h4>
	  	<p class="lead"> I have Experience in Java, C#, Python, JavaScript. </p>


	
	</div>









 <%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>