<!--Fyaaz Bobat - 301071094 - 10-09-2020 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content -->

<main class="container-fluid">
<div class="row justify-content-md-center">
  <div class="col-6">
    <h2 class="h1"> <%= message %> </h2>
    <hr class="my-4"> 
  </div>
</div>
  <div class="jumbotron">
<div class="container-fluid padding">
  <div class="row  text-center">
  <div class="col-12">
  <h2 class="display-6"> A little About Me</h2>
	</div>
	<div class="col-12">
  <img src="Assets/images/img-2.jpg" alt="">
  </div>
  </div>
  <br>	
  <br>
  <div class="com-12">
	<p class="lead"> My name is Fyaaz Bobat and I am a Software Engineering Technology student at Centennial College. Currently I am in my 4th semester in a 3 year advance degree program. I hope to land a co-op placement to help kick of my software career!  </p>
	<br>
	<br>

	<p class="lead">Hear is the latest version of my resume:  <a href="Assets/images/FyaazResume.pdf" title="Resume" target="_blank"> Resume</a></p>
 </div>

</div>
</main>

<%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>