<!--Fyaaz Bobat - 301071094 - 10-09-2020 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  

  <!-- Main Content -->
<main class="container">
  <div class="row">
    <div class="col">
  <div class="jumbotron">
    <h1 class="display-4"> <%= title %></h1>
  </div>
</div>
</div>


  
    <h4 class="lead">Welcome to the my protfolio website!</h4>
    <br>
    <br>
    <p class="lead"> Hear you can learn a little more about me, some projects I've completed and service I can provide!</p>
    <br>
    <P>Learn more about me! <a class="btn btn-primary" href="/about" role="button">About Me!</a>
    </P>
  </div>

</div>
</main>
  
 <%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>



