<!--Fyaaz Bobat - 301071094 - 10-09-2020 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!--Main Content -->
<main class="container-fluid">
<div class="row justify-content-md-center">
  <div class="col-6">
    <h2 class="h1"> <%= message %> </h2>
    <hr class="my-4"> 
  </div>
 </div>


 <div class="jumbotron">
  <div class="row justify-content-md-center">
  <h2> <u> Hear are some of my projects: </u></h2>
  </div>
  <br>
  <h4>GUI C# Notification Application: </h4>
    <img src="Assets/images/img-pro.png" alt="">
	<p class="lead">This application can send a notification via email and sms.</p>
<br>
  <h4>Website: </h4>
	<p class="lead">The website you're on right now! .</p>

  </div>







 <%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>